<div class="col-md-3 left_col">
   <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
         <a href="https://www.wiseguyreports.com" class="site_title"><i class="fa fa-paw"></i> <span>wiseguy research consultants pvt. ltd</span></a>
      </div>
      <div class="clearfix"></div>
      <%= render "shared/side_bar_menu" %>
   </div>
</div>