<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
   <div class="menu_section">
      <h3>Side Menu</h3>
      <ul class="nav side-menu">
         <li>
            <a href = "<%= categories_path %>" ><i class="fa fa-tasks"></i>Categories</a>
         </li>
          <li>
            <a href = "<%= products_path %>"><i class="fa fa-product-hunt"></i>Products</a>
         </li>
         <li>
            <a href = "<%= admin_users_path %>"><i class="fa fa-user"></i>Users</a>
         </li>
       </ul>  
   </div>
</div>